name: Deploy FastAPI Backend

on:
  push:
    branches: [ "main" ]
    paths:
      - "API/testgenai-master/**"
      - ".github/workflows/backend.yml"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        working-directory: ./API/testgenai-master
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt

      - name: Upload backend artifact
        uses: actions/upload-artifact@v4
        with:
          name: backend-app
          path: ./API/testgenai-master/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: backend-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_92748182A1A24D989BE6F0E6D2229371 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0FAA8305759D411BB1FC0A575A38063E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6AE5A05BAE6E463A90FE882FFAF2E179 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: senseai-backend
          slot-name: Production
          package: .


